/* .height{
    width: 100%;
    height: 71vh;
} */
body{
    background-color: rgb(70, 95, 119) ;
    /* overflow: hidden; */
}
.fotter{
    height: 19vh;
    position: sticky;
    /* bottom: -100% ; */
    top: 100%;
}
/* .userHome{
    overflow-y: auto;
} */
/* .container{
    overflow: hidden;
} */ 